<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>SimpleShot Actions</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>simpleshot</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
				<string>public.jpeg</string>
				<string>public.tiff</string>
				<string>com.compuserve.gif</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>org.webmproject.webp</string>
				<string>com.microsoft.bmp</string>
			</array>
		</dict>
	</array>
	<key>Privacy - Screen Capture Usage Description</key>
	<string>SimpleShot needs screen recording permission to capture screenshots.</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
</dict>
</plist>
